
.m-t-20{
  margin-top: 20px;
}
.contImg{
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 450px;
}
.bg-home{
  background-image: url('../img/bg-rainbow.jpg');
  width: auto;
  height: 30em;
}
.nav-tranparent{
  background-color: transparent;
}
.fa-heart{
  color: rgb(193, 30, 44);
}
#_AJAX_LOGIN_{
  height: 52px;
}
.bigh2{
  font-size: 5em;
}
.padin-5{
  padding-top: 5px;
}
.p-x-5{
  margin: 0 5px;
}
/*#7AC29A*/
